@font-face {
    font-family: "Gilroy";
    font-style: normal;
    font-weight: normal;
    src: url("../fonts/Gilroylight.ttf");
}

@font-face {
    font-family: "Gilroy";
    font-style: normal;
    font-weight: bold;
    src: url("../fonts/Gilroyextrabold.ttf");
}

@font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: lighter;
    src: url("../fonts/OpenSans-Light.ttf");

}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.fixed {
    margin: 0 auto;
    width: 1160px;
}

/*--------Хедэр------------*/

nav {
    display: flex;
    flex-direction: column;
}

.nav-top {
    display: flex;
    justify-content: space-between;
    background-color: #f7e296;
    padding-top: 33px;
    padding-left: 60px;
    padding-right: 60px;
}

.nav-official {
    display: flex;
    margin: 0;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: 0;
    background-color: #f7e296;
    padding-top: 50px;
    padding-left: 60px;
    padding-right: 60px;
    padding-bottom: 60px;
}

.drop-menu {
    margin-right: 325px;
}

.nav-official li {
    list-style: none;
}

.logo {
    background: linear-gradient(to bottom, white 50%, #f7e296 50%);
    margin-top: 32px;
    padding-left: 60px;
}

.nav-official a {
    font-size: 15px;
    letter-spacing: 0.01em;
    font-family: "Open Sans";
    text-decoration: none;
    color: black;
}

.user-in::before {
    content: url("../img/user.svg");
    margin-right: 15px;

}

.comparison::before {
    content: url("../img/compare.svg");
    margin-right: 10px;
    margin-left: 218px;
}

.cart::before {
    content: url("../img/cart.svg");
    margin-right: 12px;
    margin-left: 40px;
}

.nav-menu li {
    list-style: none;
}

.nav-menu a {
    font-size: 18px;
    font-weight: bold;
    font-family: 'Gilroy';
    text-decoration: none;
    text-transform: uppercase;
    list-style: none;
    letter-spacing: 0.2em;
    color: black;
}


.drop-menu ul a {
    font-size: 15px;
    font-weight: lighter;
    font-family: "Open Sans";
    text-transform: none;
    letter-spacing: 0.01em;
    display: none;
}


.drop-head::after {
    content: url("../img/plus.svg");
    margin-left: 12px;
    opacity: 0.3;
}

.main-products li {
    list-style: none;
}

.main-products b {
    font-family: 'Gilroy';
    font-weight: bold;
    font-size: 47px;
    line-height: 56px;
    letter-spacing: 0.01em;
}

.main-products p {
    font-family: "Open Sans";
    font-weight: lighter;
    font-size: 15px;
    line-height: 30px;
    color: #464646;
    margin-bottom: 60px;
}

.main-products a {
    font-family: 'Gilroy';
    font-weight: bold;
    font-size: 18px;
    text-decoration: none;
    text-transform: uppercase;
    color: black;
    letter-spacing: 0.2em;
    background-clip: border-box;
    padding-left: 43px;
    padding-right: 43px;
    background: linear-gradient(to bottom, white 30%, #f0c52e 30%, #f0c52e 70%, white 70%);


}

.main-products table {
    margin-top: 60px;
    border-color: white;
}

.main-products td {
    font-family: 'Gilroy';
    font-weight: normal;
    font-size: 36px;
    color: black;
    letter-spacing: 0.01em;
    text-align: left;
}

.main-products th {
    padding-right: 80px;
    font-family: "Open Sans";
    font-weight: lighter;
    font-size: 13px;
    color: black;
    letter-spacing: 0.01em;
}

div.groups-img {
    width: 160px;
    height: 160px;
    display: flex;
    background-color: #f7e296;
    justify-content: center;
    align-items: center;
}

.groups-items li {
    list-style: none;
    width: 160px;
}

.groups-items h3 {
    font-family: 'Gilroy';
    font-weight: bold;
    font-size: 18px;
    color: black;
    line-height: 24px;
    letter-spacing: 0.01em;
    padding: 0;
    margin-top: 35px;
}

.groups-items a {
    text-decoration: none;
    display: flex;
    flex-direction: column-reverse;
}


.bg {
    background-color: #f0c52e;
    height: 8px;
    width: 220px;
}

.about h2 {
    font-family: 'Gilroy';
    font-weight: bold;
    font-size: 47px;
}

.about p {
    font-family: "Open Sans";
    font-weight: lighter;
    font-size: 15px;
    line-height: 30px;
    color: #464646;
}

.about li {
    font-family: 'Gilroy';
    font-weight: bold;
    font-size: 16px;
}

.about a {
    font-family: 'Gilroy';
    font-weight: bold;
    font-size: 18px;
    text-decoration: none;
    text-transform: uppercase;
    list-style: none;
    color: black;
    letter-spacing: 0.2em;
}

.contacts h2 {
    font-family: 'Gilroy';
    font-weight: bold;
    font-size: 47px;
}

.contacts p {
    font-family: "Open Sans";
    font-weight: lighter;
    font-size: 15px;
    line-height: 30px;
    color: #464646;
}

.contacts a {
    font-family: 'Gilroy';
    font-weight: bold;
    font-size: 18px;
    text-decoration: none;
    text-transform: uppercase;
    list-style: none;
    color: black;
    letter-spacing: 0.2em;
}

.brands li {
    list-style: none;
}

.footer-nav-official a {
    font-size: 15px;
    letter-spacing: 0.01em;
    font-family: "Open Sans";
    text-decoration: none;
    color: black;
}

.footer-nav a {
    font-size: 18px;
    font-weight: bold;
    font-family: 'Gilroy';
    text-decoration: none;
    text-transform: uppercase;
    list-style: none;
    letter-spacing: 0.2em;
    color: white;
}

.footer-nav li {
    list-style: none;
}

.main-products ul {
    margin: 0;
    padding: 0;

}

.main-product {
    display: flex;
    padding-left: 90px;
}

.product-1 {
    background:
        url(../img/01.png) no-repeat 90% 5%,
        linear-gradient(to bottom, #f7e296 25%, white 25%);
}

.product-2 {
    display: none;
    background:
        url(../img/02.png) no-repeat 90% 5%,
        linear-gradient(to bottom, #f7e296 25%, white 25%);
}

.product-3 {
    display: none;
    background:
        url(../img/03.png) no-repeat 90% 5%,
        linear-gradient(to bottom, #f7e296 25%, white 25%);
}

.product-description {
    margin-left: 120px;
    padding-top: 90px;
}

.groups-items {
    padding: 0;
    margin: 0;
    margin-top: 105px;
    display: flex;
    justify-content: space-between;
    padding: 0;
}

.info {
    display: flex;
    margin-top: 70px;
    padding-bottom: 70px;
}

.info form {
    display: flex;
    flex-direction: column;
    width: 277px;
    padding-top: 80px;
}

.info input[type="radio"] {
    display: none;
}

.info input[type="radio"]:checked + label {
    background: black;
    color: #f7e184;
}

.info input[type="radio"] + label {
    font-size: 18px;
    font-weight: bold;
    font-family: 'Gilroy';
    text-transform: uppercase;
    color: black;
    letter-spacing: 0.2em;
    padding-top: 12px;
    padding-bottom: 10px;
    padding-left: 18px;
    margin-bottom: 25px;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 40%, #f0c52e 40%, #f0c52e 60%, rgba(255, 255, 255, 0) 60%);
}



.info img {
    margin-left: 105px;
    padding-top: 100px;
}

.info ul {
    margin: 0;
    padding: 0;
}

.info li {
    list-style: none;
    display: flex;

}

.info p {
    font-family: "Open Sans";
    font-weight: lighter;
    font-size: 15px;
    line-height: 30px;
    color: #464646;
}

.info-text {
    width: 437px;
    padding-left: 115px;
    padding-top: 70px;
    border-left: 7px solid black;
}

.info h3 {
    font-family: 'Gilroy';
    font-weight: bold;
    font-size: 47px;
    color: black;
    padding: 0;
    margin: 0;
    padding-bottom: 30px;
}

li.warranty {
    display: none;
}

li.credit {
    display: none;
}

div.info-bg {
    background: linear-gradient(to bottom, white 29%, #e5e5e5 29%)
}

.brands ul {
    display: flex;
    justify-content: space-around;
    padding: 0;
    margin: 0;
    margin-top: 100px;
}
